/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/
$base-radius: 0.3rem;

$font-family-base: Helvetica, Arial, Oswald, sans-serif;
$font-family-heading: Helvetica, Arial, Oswald, sans-serif;

$sidebar-width: 250px !default; /* the basic width */
$sidebar-width-large: 280px !default; /* screen width: >= 1650px */

$main-content-max-width: 1500px !default;
